<h1 class="profile-header"> Welcome to <%=@user.first_name%>'s profile </h1>
<ul>

  <!-- <% @games.each do |game| %>
  <li>
    <%= game %>
  </li>
  <% end %>
</ul> -->
<!-- we want win/loss record
all game they have played in
all teams they have played for -->
