<h1 class="profile-header"> Welcome to <%=@player.first_name%>'s profile </h1>
<ul>
  <% user_games.each do |game| %>
  <li>
    <%= game.something? %>
    <%= game.another_thing? %>
  </li>
  <% end %>
</ul>

<ul>
  <%  %>
  <li>
    <%=  %>
  </li>
  <%  %>
</ul>
<!-- we want win/loss record
all teams they have played for -->
