<h1 class="profile-header"> Welcome to <%=@player.first_name%>'s profile </h1>
<ul>
  <% user_games.each do |game| %>
  <li>
    <%= game.location %>
    <%= game.date %>
  </li>
  <% end %>
</ul>

<ul>
  <% user_teams.each do |team| %>
  <li>
    <%= team.name %>
  </li>
  <% end %>
</ul>
